<?xml version="1.0" encoding="utf-8" ?>
<!--<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">-->
<configuration>
    <startup>
        <!--<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />-->
    </startup>
    <appSettings>
    </appSettings>
    <connectionStrings>
        <add name="SurveyManagement" connectionString="data source=(localDB)\SurveyDb;initial catalog=SurveyManagement;integrated security=True;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
        <!--<add name="SurveyManagement" connectionString="server=localDB; database=SurveyManagement; uid=ravenCodeUsr; password=RavenCodeUsrPass345;" />-->
    </connectionStrings>
</configuration>
